<div class="auth-container">
    <header class="auth-header">
        <img class="logo1" src="../../../assets/img/escudo-policia.png">
        <div class="auth-title">AVIACIÓN POLICIAL</div>
        <img class="logo2" src="../../../assets/img/simap.png">
    </header>
    <div class="auth-main">
        <div class="auth-inner">
            <div class="title1 center">401</div>
            <div class="title2 center">No autorizado</div>
            <div class="message center">No estás autorizado para acceder a esta página.</div>
            <div class="auth-button">
                <button type="button" (click)="back()">Volver a Iniciar Sesión</button>
            </div>
        </div>
    </div>
</div>